/*global*/
* {
    padding: 0;
    margin: 0;
}

body {


    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 0px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}


p {
    line-height: 2;
}

/*utilities*/
.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.read-btn {

    width: 120px;
    background-color: black;
}

.more-info-btn {

    width: 200px;
    background-color: rgb(100, 47, 10);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.align-header {
    text-align: left;
    padding: 0px;
}


/*header*/
.site-init {
    background-image: url(../img/banner.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
    color: white;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.site-init p {
    text-align: center;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.menu {
    text-align: center;
}

.menu a {
    margin-right: 20px;

}
.site-header {
    background-color: black;
    height: 100px;
}

.site-header h1 {
    color: White;
}

/*main*/
main {
    margin-right: 10px;
}




/*blogs*/
.blog-container {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

/*footer*/
.footer {
    background-color: black;
    color: white;
    height: 80px;
}


/*about*/
.img-us-container {
    width: 55%;
}

.text-us-container {
    width: 45%;
    margin-left: 20px;
    text-align: justify;
}


/*Contact*/

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-img{
    width: 100%;
}
.contact-form{
    background-color: white;
    width: 50%;
    padding: 20px;
    margin-top: -50px;
}
.form-control{
margin: 10px;
}
label{
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 5px;
}
input{
    padding: 5px;
    width: 70%;
}
textarea{
    padding: 5px;
    width: 70%;
}

/*Contact*/
.course-container{
    display: flex;
}
.course-item{
    background-color: rgb(219, 217, 216);
    padding: 30px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-item h3{
text-align: left;
margin-top: 5px;
}


